body {

    /* background-color: hsl(196, 92.2%, 20%); */
 }
 
 h2 {
    text-align: center;
    font-family: "Tillana", sans-serif;
   
    font-weight: 700;
    font-size: 30pt;
    color: white;
 }
 
 .bubble-wrap {
    position: fixed;
    bottom: -13em;
    overflow: hidden !important;
    padding: 3em;
 }
 
 .bubble {
    border-radius: 5em;
    box-shadow: 1px 1px 7px hsla(0, 0, 80%, 0.7);
    height: 6em;
    width: 6em;
    /* overflow: hidden; */
    cursor: pointer;
   background-position: center;
   background-size: contain;
   opacity: 30%;
 }
 
 .bubble.hidden {
    visibility: 0;
 }
 
 .explosion {
    color: white;
    position: fixed;
    transform-origin: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20pt;
 }
 
 .bubble-modal-bg {
    background-color: #000;
    opacity: .65;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
 }
 .bubble-modal {
    visibility: hidden;
    z-index: 2;
    position: relative;
    width: 90vw;
    margin: 0 auto;

 }
 
 .bubble-modal.active {
    visibility: visible;
 }